{% extends 'AppBundle:Main:layout.html.twig' %}

{% block content %}
    <section class="about_page">
        <h1>О проекте gorodskie-remonti.ru</h1>
        <p>
            В каталоге gorodskie-remonti.ru подобраны и размешены различные категории инструмента, электроприборов,
            строительных материалов, аксессуаров и расходных материалов от различных популярных магазинов. Это
            делается для удобного поиска необходимого инструмента пользователем. Для покупки найденного товара клиент
            перенаправляется в магазин, который данный товар продает.
        </p>
        <h2>А какая разница?</h2>
        <p>
            А разница в том, что для покупателя пропадает необходимость заходить на сайты различных магазинов для
            покупки искомого оборудования. Достаточно воспользоваться каталогом и в зависимости от выбранного товара
            перейти именно в тот магазин, у которого самая подходящая для покупателя цена.
        </p>
        <h2>А качество?</h2>
        <p>
            Мы стараемся подбирать инструменты и оборудование самых известных брендов (<b>Makita, Bosh, DENZEL</b>),
            что сводит к минимуму проблемы с некачественной продукцией. Но, как известно, никто не застрахован от
            заводского брака, поэтому практика возвратов в каждом отдельном магазине очень важна. Ознакомиться с
            правилами каждого отдельно взятого магазина можно после выбора товара.
        </p>
    </section>
{% endblock %}
