<!doctype html>
<html lang="{{ app.request.locale }}">
<!--<![endif]-->
    <head>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>
            {% block title %}
                {% if seoTitle is defined and seoTitle %}
                    {{ seoTitle }}
                {% else %}
                    Каталог инструментов в Ростове на Дону - gorodskie-remonti.ru - ищем инструмент для Вас!
                {% endif %}
            {% endblock %}
        </title>
        {% if canonicalLink is defined and canonicalLink != '' %}
            <link rel="canonical" href="{{ canonicalLink }}"/>
        {% endif %}
        {% block counters %}{% endblock %}
        {% block metatags %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/main.min.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets 'bundles/app/css/bootstrap/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@jquery' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts 'bundles/app/js/blazy.min.js' 'bundles/app/js/main.js' 'bundles/app/js/popper.js' %}
                <script async type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts 'bundles/app/js/bootstrap/*.js' %}
                <script async type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
