<div style="text-align: center; width: 100%; margin: 2rem 0 0 0;">
    <img src="{{ asset('/bundles/app/images/logo_gr.svg') }}" width="150px" title="gorodskie-remonti.ru - сервис поиска инструмента." alt="gorodskie-remonti.ru - сервис поиска инструмента.">
</div>
<div style="text-align: center; width: 100%; margin: 2rem 0 0 0;">
    <img src="{{ asset('/bundles/app/images/loader.gif') }}" width="50px">
</div>
<h1 style="text-align: center; margin: 5rem 0 0 0;">
    {{ pageTitle }}
</h1>
<script>
    setTimeout("document.location.href='{{ goods.url }}'", 300);
</script>