{% extends 'AppBundle:Main:layout.html.twig' %}

{% block content %}
    {% if actualCategory is defined %}
        <h1 class="text-center text-dark">
            <small>
                {{ actualCategory.title }}
                {% if vendor is defined %}
                    {{ vendor.name }}
                {% endif %}
            </small>
        </h1>
    {% endif %}
    {{ include('AppBundle:Main:goods.block.html.twig', { 'goods': goods }) }}
    <h2 class="text-center text-dark">
        <small>{{ actualCategory.name }} {{ vendor.name }}</small>
    </h2>
    {% if seoDescription is defined and seoDescription%}
        {{ seoDescription|raw }}
    {% endif %}
    {% if categoryTopVendorsResult %}
        {{ include('AppBundle:Main:top.vendors.block.html.twig', { 'categoryTopVendorsResult': categoryTopVendorsResult, 'title': 'Другие бренды этой категории', 'vendorAlias': vendorAlias }) }}
    {% endif %}
    {% if shops %}
        {{ include('AppBundle:Main:shops.block.html.twig', { 'shops': shops, 'title': 'Магазины-партнёры' }) }}
    {% endif %}
    {% if otherCategories %}
        {{ include('AppBundle:Main:other.categories.block.html.twig', { 'otherCategories': otherCategories, 'title': 'Другие категории этого бренда' }) }}
    {% endif %}
{% endblock %}
