<div class="row">
    {%  if actualCategory is defined %}
        <div class="col-md-3 d-none d-lg-block">
            {% include 'AppBundle:Main:side.menu.html.twig'%}
        </div>
    {% endif %}
    {% if goods is defined and goods|length > 0 %}
        <div class="col-lg-9 col-md-12 album">
            <div class="container px-0">
                <div class="row" itemscope itemtype="http://schema.org/ItemList">
                    {% for goodsItem in goods %}
                        <div class="col-lg-4 col-md-4 px-1" data-goods-id="{{ goodsItem.attrs.goodsid }}" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                            {% if goodsItem.attrs.price < goodsItem.attrs.oldprice %}
                                <div class="discountBlock">
                                    -{{ ((goodsItem.attrs.oldprice - goodsItem.attrs.price) / goodsItem.attrs.oldprice * 100)|round }}%
                                </div>
                            {% endif %}
                            <a class="productLinkToChange text-dark" href="#" rel="nofollow" data-product-alias="{{ goodsItem.attrs.alias }}"
                               title="Купить {{ goodsItem.attrs.name }} по выгодной цене." target="_blank">
                                <div class="card mb-4 box-shadow">
                                    <div class="imageDiv">
                                        {% if goodsItem.attrs.pictures %}
                                            <img class="b-lazy img-fluid" src="{{ asset('/bundles/app/images/no-image.svg') }}" itemprop="image"
                                                 data-src="{{ goodsItem.attrs.pictures| json_decode.0 | my_replace | imagine_filter('my_thumb') }}"
                                                 alt="Купить {{ goodsItem.attrs.name }} в интернет-магазине."
                                                 onerror="this.style.display='none'">
                                        {% else %}
                                            <img class="b-lazy img-fluid" src="{{ asset('/bundles/app/images/no-image.svg') }}" alt=""
                                                 onerror="this.style.display='none'"/>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                            <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                {{ goodsItem.attrs.vendorname }}
                                                <br />
                                                <span itemprop="name">{{ goodsItem.attrs.name }}</span>
                                                <br />
                                                Цена:
                                                <span class="font-weight-bold" itemprop="price">{{ goodsItem.attrs.price|number_format(2, '.', ',') }}</span>
                                                <span class="font-weight-bold" itemprop="priceCurrency" content="RUB">руб</span>
                                            </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% if pagination is defined %}
                        {{ include('AppBundle:Main:pagination.html.twig', { 'pagination': pagination }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Main:goods.not.found.html.twig') }}
    {% endif %}
</div>
