{% extends 'AppBundle:Main:layout.html.twig' %}

{% block content %}
    <h1>gorodskie-remonti.ru – Ваш незаменимый помощник в выборе инструмента!</h1>
    <p>На нашем портале собран инструмент самых известных марок, а также аксессуары и расходные материалы.
        Наши партнеры размещают здесь свои каталоги, чтобы вы могли сделать покупки всего за пару кликов.</p>
    <div class="album bg-light">
        <div class="container px-0">
            <div class="row">
                <div class="col-lg-4 px-1">
                    <a href="/catalog/nabor_instrumentov" title="Наборы инструментов">
                        <div class="card mb-4 box-shadow">
                            <img class="b-lazy img-fluid" src="/bundles/app/images/no-image.svg" data-src="{{ asset('/bundles/app/images/nabor.png') }}" alt="">
                            <div class="card-body">
                                <h2>Наборы инструментов</h2>
                                <p>Последние поступления по выгодным ценам!</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 px-1">
                    <a href="/catalog/pnevmaticheskiy_instrument" title="Пневматический инструмент">
                        <div class="card mb-4 box-shadow">
                            <img class="b-lazy img-fluid" src="/bundles/app/images/no-image.svg" data-src="{{ asset('/bundles/app/images/pnevmo.png') }}" alt="">
                            <div class="card-body">
                                <h2>Пневматический инструмент</h2>
                                <p>Качественный инструмент с доставкой!</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 px-1">
                    <a href="/catalog/ruchnoy_instrument" title="Ручной инструмент">
                        <div class="card mb-4 box-shadow">
                            <img class="b-lazy img-fluid" src="/bundles/app/images/no-image.svg" data-src="{{ asset('/bundles/app/images/ruchnoi.png') }}" alt="">
                            <div class="card-body">
                                <h2>Ручной инструмент</h2>
                                <p>Болторезы, гвоздодёры, шаберы, отвёртки и другой ручной инструмент</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 px-1">
                    <a href="/catalog/abrazivniy_instrument" title="Абразивный инструмент">
                        <div class="card mb-4 box-shadow">
                            <img class="b-lazy img-fluid" src="/bundles/app/images/no-image.svg" data-src="{{ asset('/bundles/app/images/abraziv.png') }}" alt="">
                            <div class="card-body">
                                <h2>Абразивный инструмент</h2>
                                <p>Шлифовальные бруски, сеткодержатели, шкурки и ленты.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 px-1">
                    <a href="/catalog/elektroinstrument" title="Электроинструмент">
                        <div class="card mb-4 box-shadow">
                            <img class="b-lazy img-fluid" src="/bundles/app/images/no-image.svg" data-src="{{ asset('/bundles/app/images/electroinstrument.png') }}" alt="">
                            <div class="card-body">
                                <h2>Электроинструмент</h2>
                                <p>Штроборезы, электролобзики, электрорубанки, фрезеры.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
