{% extends 'AppBundle:Main:base.html.twig' %}
{% block metatags %}
    {{ include('AppBundle:Main:meta.tags.html.twig') }}
{% endblock %}
{% block counters %}
    {% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
        {{ include('AppBundle:Main:counters.block.html.twig') }}
    {% endif %}
{% endblock %}

{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top fixedTopNav">
        <div class="container">
            <img class="px-2" src="/bundles/app/images/logo_gr.svg" width="50" height="34" title="gorodskie-remonti.ru - сервис поиска инструмента." alt="gorodskie-remonti.ru - сервис поиска инструмента.">
            <a class="navbar-brand pt-3" href="/">gorodskie-remonti.ru</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="row navbar-nav ml-auto">
                    {% for menuItemKey, menuItemValue in menuItems %}
                        {% if app.request.attributes.get('_route') == menuItemKey %}
                            <li class="nav-item active">
                                <a class="nav-link" href="#">{{ menuItemValue }}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path(menuItemKey) }}">{{ menuItemValue }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="row d-sm-block d-lg-none text-white">
                    {% include 'AppBundle:Main:side.menu.html.twig'%}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <main class="container" style="padding-top: 5rem">
        {% if breadcrumbs is defined %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        {% if breadcrumb.link %}
                            <li class="breadcrumb-item">
                                <a href="{{ breadcrumb.link }}" {% if breadcrumb.seoTitle is defined %}title="{{ breadcrumb.seoTitle }}" {% endif %}>{{ breadcrumb.title }}</a>
                            </li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row">
                {% if parentCategories is defined and parentCategories %}
                    <div class="col-md-3">
                        <h4 class="text-light"><small>Выбирайте инструмент в нашем каталоге:</small></h4>
                        <ul class="list-unstyled">
                            {% for parentCategory in parentCategories %}
                                <li><a class="text-info" href="/catalog/{{ parentCategory.alias }}">{{ parentCategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-md-3">
                    <h4 class="text-light"><small>Полезные ссылки:</small></h4>
                    <ul class="list-unstyled">
                        {% for menuItemKey, menuItemValue in menuItems %}
                            <li>
                                {% if app.request.attributes.get('_route') == menuItemKey %}
                                    <span class="text-white-50 active">{{ menuItemValue }}</span>
                                {% else %}
                                    <a class="text-info" href="{{ path(menuItemKey) }}">
                                        {{ menuItemValue }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="text-light"><small>Контакты:</small></h4>
                    <ul class="list-unstyled">
                        <li class="text-light">Email: <a href="emailto:support@gorodskie-remonti.ru" target="_blank" class="text-info">support@gorodskie-remonti.ru</a></li>
                        {#<li class="text-light">VK: <a href="https://vk.com/look4wear" target="_blank" class="text-info">Мы вконтакте</a></li>#}
                    </ul>
                </div>
                {% if lastArticles is defined and lastArticles %}
                    <div class="col-md-3">
                        <h4 class="text-light"><small>Свежие статьи:</small></h4>
                        <ul class="list-unstyled">
                            {% for lastArticle in lastArticles %}
                                <li>
                                    {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/article/' ~ lastArticle.alias %}
                                        <span class="text-white-50 active">{{ lastArticle.title|slice(0, 50) ~ '...' }}</span>
                                    {% else %}
                                        <a class="text-info" href="/article/{{ lastArticle.alias }}" title="{{ lastArticle.title }}">
                                            {{ lastArticle.title|slice(0, 50) ~ '...' }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </footer>
{% endblock %}
