<meta charset="UTF-8"/>
<meta name="description"
      content="{% if seoDescription is defined %}{{ seoDescription|raw|striptags|slice(0, 300) }}{% else %}Каталог инструментов в Ростове - gorodskie-remonti.ru. Купить электроинструмент и строительные приборы.{% endif %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if goods is defined and goods|length == 0 %}
    <meta name="robots" content="noindex">
{% endif %}
{% if keywords is defined and keywords %}
    <meta name="keywords" content="{{ keywords }}">
{% endif %}
<meta name="Document-state" content="Dynamic">
<meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate, public">

<meta property="og:url"
      content="{{ app.request.getSchemeAndHttpHost() }}{% if canonicalLink is defined and canonicalLink != '' %}{{ canonicalLink }}{% elseif app.request.attributes.get('_route') %}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{% endif %}">
<meta property="og:title"
      content="{% if seoTitle is defined and seoTitle %}{{ seoTitle|trim|slice(0, 64) }}{% else %}Каталог инструментов в Ростове - gorodskie-remonti.ru - ищем инструмент для Вас!{% endif %}">
<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{% if category is defined and category.media %}{% path category.media, 'big' %}{% else %}/bundles/app/images/logo_gr.svg{% endif %}">
<meta property="og:description"
      content="{% if seoDescription is defined %}{{ seoDescription|raw|striptags|slice(0, 300) }}{% else %}Каталог инструментов в Ростове - gorodskie-remonti.ru - ищем инструмент для Вас!{% endif %}">
<meta name='wmail-verification' content='320c8db3668bacc705d76cea183556e6' />
<meta name="yandex-verification" content="cc92c1f807492b83" />