<ul class="py-1 list-unstyled">
    {% macro recursiveCategory(category, actualParentCategories, actualCategory, vendor, categoryTopVendorsResult) %}
        {% import _self as self %}
        {% if category in actualParentCategories %}
            <li>
            {% if app.request.attributes.get('_route') and app.request.attributes.get('_route_params') and path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == category|get_category_url %}
                <span class="active">
                    {{ category.name }}
                </span>
            {% else %}
                <a class="text-info" href="{{ category|get_category_url }}" title="{{ category.seoTitle }}">
                    {{ category.name }}
                </a>
            {% endif %}
            {% if category.childrenCategories|length %}
                <ul class="px-3 py-1 list-unstyled border-left">
                    {% for child in category.childrenCategories %}
                        {{ self.recursiveCategory(child, actualParentCategories, actualCategory, vendor, categoryTopVendorsResult) }}
                    {% endfor %}
                </ul>
            {% elseif category.parentCategory and category.data.topVendors is defined and actualCategory == category %}
                <ul class="px-3 py-1 list-unstyled border-left">
                    {% for topVendor, count in category.data.topVendors|slice(0, 5) %}
                        <li class="text-nowrap">
                            {% if app.request.attributes.get('_route') and app.request.attributes.get('_route_params') and path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == category|get_category_url ~ '/brand/' ~ topVendor %}
                                <span class="active">
                                    {% if categoryTopVendorsResult[topVendor] is defined %}
                                        {{ categoryTopVendorsResult[topVendor].name }}
                                    {% else %}
                                        {{ vendor.name }}
                                    {% endif %}
                                </span>
                            {% else %}
                                <a class="text-info" href="{{ category|get_category_url }}/brand/{{ topVendor }}" {{ category.seoTitle }} {{ topVendor }}>
                                    {% if categoryTopVendorsResult[topVendor] is defined %}
                                        {{ categoryTopVendorsResult[topVendor].name }}
                                    {% else %}
                                        {{ vendor.name }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endif %}
    {% endmacro %}
    {% import _self as self %}
    {% if parentCategories is defined %}
        <ul class="px-3 py-1 list-unstyled">
            {% for category in parentCategories %}
                {% if actualParentCategories is defined and actualCategory is defined %}
                    {% set vendor = vendor|default('') %}
                    {% set categoryTopVendorsResult = categoryTopVendorsResult|default() %}
                    {{ self.recursiveCategory(category, actualParentCategories, actualCategory, vendor, categoryTopVendorsResult) }}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</ul>