{% extends 'AppBundle:Main:layout.html.twig' %}

{% block content %}
    <h1>Карта сайта gorodskie-remonti.ru</h1>
    <section class="sitemap_page">
        <ul class="py-1 list-unstyled">
            {% macro recursiveCategory(category, allVendors) %}
                {% import _self as self %}
                <li>
                    <a href="{{ category|get_category_url }}" title="{{ category.seoTitle }}">{{ category.title }}</a>
                    {% if category.data.topVendors is defined and category.data.topVendors and category.parentCategory %}
                        <ul>
                            {% for categoryVendorAlias, categoryVendor in category.data.topVendors %}
                                {% if loop.index <= 10 and allVendors[categoryVendorAlias] is defined and allVendors[categoryVendorAlias] %}
                                    <li>
                                        <a href="/filter/{{ category.alias }}/{{ categoryVendorAlias }}" title="{{ category.seoTitle }}">{{ allVendors[categoryVendorAlias].name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if category.childrenCategories|length %}
                        <ul>
                            {% for child in category.childrenCategories %}
                                {{ self.recursiveCategory(child, allVendors) }}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endmacro %}
            {% import _self as self %}
            {% if parentCategories %}
                <ul>
                    {% for category in parentCategories %}
                        {{ self.recursiveCategory(category, allVendors) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </ul>
    </section>
{% endblock %}
