{% if categoryTopVendorsResult|length > 0 %}
    <hr/>
    <div class="row col-12">
        <h2 class="mx-auto text-dark">
            <small>{{ title }}:</small>
        </h2>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center flex-wrap col-12">
            {% for categoryTopVendor in categoryTopVendorsResult %}
                {% if loop.index <= 12 and vendorAlias != categoryTopVendor.alias %}
                    <a href="{{ actualCategory|get_category_url }}/brand/{{ categoryTopVendor.alias }}"
                       title="Купить {{ actualCategory.title }} {{ categoryTopVendor.name }}. Товаров: {{ categoryTopVendor.count }} шт."
                       class="px-0 mx-1 my-1 col-md-2">
                        <div class="px-1 lead border h-100 text-center ">
                            <div class="text-dark">
                                {% if categoryTopVendor.imgUrl %}
                                    <img class="img-fluid" src="{{ asset('media/brands/' ~ categoryTopVendor.imgUrl) }}"
                                         alt="изображение {{ actualCategory.title }} {{ categoryTopVendor.name }}">
                                {% else %}
                                    {{ categoryTopVendor.name }}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}