{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ info.title }}</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    {% if info.badCategories|length > 0 %}
                        {% for categoryName, badCategory in info.badCategories %}
                            <tr>
                                <td class="sonata-ba-list-label" style="width: 25%;">
                                    {{ categoryName }}
                                </td>
                                <td class="sonata-ba-list-label">
                                    <a href="/admin/app/category/{{ badCategory.category.id }}/edit" target="_blank">админка</a>
                                </td>
                                <td class="sonata-ba-list-label">
                                    <a href="https://gorodskie-remonti.ru/catalog/{{ badCategory.category.alias }}" target="_blank">сайт</a>
                                </td>
                                <td class="sonata-ba-list-label">
                                    {{ badCategory.lessGoodsVendorsCount }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="sonata-ba-list-label" >
                                Какая красота! Несоответствий нет!
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}