{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ info.title }}</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    {% for goodsItem in info.goods %}
                        <tr>
                            <td class="sonata-ba-list-label" style="width: 25%">
                                {% if goodsItem.pictures %}
                                    <img width="40%" class="b-lazy" src="{{ goodsItem.pictures.0 | my_replace | imagine_filter('my_thumb') }}" />
                                {% else  %}
                                    <img class="b-lazy img-fluid" src="{{ asset('/bundles/app/images/no-image.svg') }}" alt=""
                                         onerror="this.style.display='none'"/>
                                {% endif %}
                            </td>
                            <td class="sonata-ba-list-label">
                                {{ goodsItem.model }} {{ goodsItem.name }}
                            </td>
                            <td class="sonata-ba-list-label">
                                {{ goodsItem.price }} руб.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}