.discountBlock {
    position: absolute;
    right: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 58px;
    background: #e40808;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: bold;
    margin: 0.2rem;
    z-index: 1;
    text-align: center;
}

.fixedTopNav {
    overflow-y: overlay;
    max-height: 100%;
    align-items: flex-start !important;
}

.imageDiv {
    max-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.imageDiv img {
    max-height: 150px;
    max-width: 100%;
}